body
{
	margin: 0;
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
}

img
{
	border: 0;
}

a
{
	text-decoration: none;
}
.wrapper
{
	margin: 0 auto 0 auto;
	width: 760px;
	text-align:left;
	background-color: white;
}

/*--------------Header----------------------*/
.header
{
	height: 80px;
	background-color: white;	
}

.header h1
{
	font-family: Helvetica;
	font-size: 26px;
	color: black;
	padding-top: 10px;
	padding-left:50px;		
	margin-bottom: 0;
}

/*------------- Navigation------------------*/
.nav
{
	text-align:left;
	margin: 0;
}
.nav li
{
	display: inline;
	list-style-type: none;
}

.nav li a
{
	text-decoration: none;
	font-size:15px;
	font-family: Helvetica;
	padding-left: 20px;
	padding-top: 7px;
  padding-bottom: 7px;	
	padding-right:20px;
  color:black;
}

.nav li a:hover
{
	text-decoration:none;
	background-color: #DADCF1;
  color:black;
}

.nav li a.on
{
	background-color: #D6D9EC;
	color:black;
	
}

/*--------------Content------------------------*/

.content
{
	border-style: none;
	border-width: 1px;
	border-color: #D6D9EC;	
	padding: 5px;
}

h3
{
	font-size: 15px;
	background-color: white;
	padding: 2px;
	margin: 0;
	font-family:  Helvetica;
	color: black;
}

/*----------------Footer-----------------------*/
.footer
{
	clear:both;
	background-color: white;
	text-align: center;
	padding: 5px;
	font-size: 10px;
	font-family: Verdana;
}
